.dashboard-home {
  width: 100%;
}

.dashboard-section {
  margin-bottom: 24px;
}

.dashboard-stats {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

/* Tablet */

@media (max-width: 1024px) {
  .dashboard-stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */

@media (max-width: 640px) {
  .dashboard-stats {
    grid-template-columns: 1fr;
  }
}
