:root {
  /* Brand */
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;

  /* Status */
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;

  /* Text */
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  /* Backgrounds */
  --color-background: #f5f6fa;
  --color-surface: #ffffff;

  /* Borders */
  --color-border: #e5e7eb;

  /* Hover */
  --color-hover: #f3f4f6;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* Shadow */
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.15);

  /* Spacing */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;

  /* ============================
   Badge Colors
============================ */

  --badge-success-bg: #dcfce7;
  --badge-success-text: #166534;

  --badge-warning-bg: #fef3c7;
  --badge-warning-text: #92400e;

  --badge-danger-bg: #fee2e2;
  --badge-danger-text: #991b1b;

  --badge-info-bg: #dbeafe;
  --badge-info-text: #1d4ed8;

  --badge-gray-bg: #f3f4f6;
  --badge-gray-text: #374151;
}

/* ===========================
   Dark Theme
=========================== */

.dark {
  --color-primary: #60a5fa;
  --color-primary-hover: #3b82f6;

  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;

  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;

  --color-background: #0f172a;
  --color-surface: #1e293b;

  --color-border: #374151;

  --color-hover: #2d3748;

  /* Badge */

  --badge-success-bg: #14532d;
  --badge-success-text: #bbf7d0;

  --badge-warning-bg: #78350f;
  --badge-warning-text: #fde68a;

  --badge-danger-bg: #7f1d1d;
  --badge-danger-text: #fecaca;

  --badge-info-bg: #1e3a8a;
  --badge-info-text: #bfdbfe;

  --badge-gray-bg: #374151;
  --badge-gray-text: #f9fafb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;

  background: var(--color-background);
  color: var(--color-text-primary);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  font-family: Inter, sans-serif;
}

.item {
  display: flex;
  gap: 16px;
  padding: 18px 0;
  border-bottom: 1px solid var(--color-border);
}

.item:last-child {
  border-bottom: none;
}

.icon {
  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: var(--badge-info-bg);

  color: var(--color-primary);

  flex-shrink: 0;
}

.content {
  flex: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 8px;
}

.action {
  font-weight: 700;
  color: var(--color-text-primary);
}

.time {
  color: var(--color-text-secondary);
  font-size: 13px;
}

.description {
  margin: 6px 0;
  color: var(--color-text-secondary);
}

.user {
  font-size: 14px;
  color: var(--color-text-secondary);
}
